#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#show{
	width:600px;
	height:300px;
}
#listshow{
	visibility:hidden;
	width:600px;
	height:300px;
	overflow:hidden;
}

.comment {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.comment span {
  flex-grow: 1;
}